%h1 Project #{project.title} participants

%table.table.table-bordered
  %tbody
    %tr
      %th Title

    - cache [current_user, project] do
      - @articles.each do |article|
        - cache article do
          %tr
            %td
              - if can? :read, article
                = link_to article.title, project_article_path(project, article)
              - else
                = article.title
              = link_to 'Edit', edit_users_project_article_path(project, article)
