/ Content Header (Page header)
%section.content-header
  %h1
    Dashboard
    %small Control panel
    = link_to 'Login facebook', user_omniauth_authorize_path(provider: 'facebook')
    = link_to 'Login twitter', user_omniauth_authorize_path(provider: 'twitter')
/ Main content
%section.content
  / Small boxes (Stat box)
  .row
    .col-lg-12.col-xs-12
      %h1 Welcome to Rubyboost
    / ./col
  / /.row
/ /.content
