/ Content Header (Page header)
%section.content-header
  %h1
    Dashboard
    %small Control panel
/ Main content
%section.content
  / Small boxes (Stat box)
  .row
    .col-lg-12.col-xs-12
      %h1 Welcome to Rubyboost
      - unless user_signed_in?
        = form_tag sessions_path do
          %p= text_field_tag :email
          %p= password_field_tag :password
          %p= submit_tag 'Log in'
    / ./col
  / /.row
/ /.content
